<% layout('layout') -%>

<div class="jumbotron" id='navbar-gap'>
  <div class="container">
    <h1>Shoppit</h1>
    <p>Starting point to create something more unique</p>
  </div>
</div>

<div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>Start your search here</h2>
         <p>Sign Up to start Buying</p>
         <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
       <div class="col-md-4">
         <h2>Look for Smart Items</h2>
         <p>These will appear across the site as you add to your cart</p>
         <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
       <div class="col-md-4">
         <h2>Build a Smart Cart</h2>
         <p>The more smart items you buy together, the more you save</p>
         <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
     </div>

     <hr>

     <footer>
       <p>&copy; Company 2013</p>
     </footer>

   </div> <!-- /container -->
