<% layout('layout') -%>

<div class="container">

  <% if(error.length > 0) { %>
    <div class='alert alert-danger alert-dismissible'>
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
    <span aria-hidden='true'>&times;</span>
    </button>
    <%= error %>
    </div>
    <% } %>
</div>


<div class="jumbotron" id='navbar-gap'>
  <div class="container">
    <h1>Shoppit</h1>
    <p>till youu drop</p>
  </div>
</div>

<div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>Start your search here</h2>
         <p>Raw denim tattooed street art narwhal offal freegan, gastropub vaporware. Chambray tote bag typewriter, XOXO banjo swag forage stumptown fixie yuccie art party. Trust fund swag fap paleo flexitarian, af irony. Gastropub offal raw denim blog, tote bag bicycle rights salvia vaporware organic plaid four dollar toast. Air plant kale chips biodiesel man </p>
       </div>
       <div class="col-md-4">
         <h2>Find Random Things</h2>
         <p>Raw denim tattooed street art narwhal offal freegan, gastropub vaporware. Chambray tote bag typewriter, XOXO banjo swag forage stumptown fixie yuccie art party. Trust fund swag fap paleo flexitarian, af irony. Gastropub offal raw denim blog, tote bag bicycle rights salvia vaporware organic plaid four dollar toast. Air plant kale chips biodiesel man </p>
      </div>
       <div class="col-md-4">
         <h2>Add things to your cart</h2>
         <p>Raw denim tattooed street art narwhal offal freegan, gastropub vaporware. Chambray tote bag typewriter, XOXO banjo swag forage stumptown fixie yuccie art party. Trust fund swag fap paleo flexitarian, af irony. Gastropub offal raw denim blog, tote bag bicycle rights salvia vaporware organic plaid four dollar toast. Air plant kale chips biodiesel man </p>
       </div>
     </div>

     <hr>

   </div> <!-- /container -->
